/* Estilos generales */

/* Establece estilos para el cuerpo del documento */
body { 

    font-family: Arial, sans-serif; /* Fuente por defecto */
    background-color: #ffffff; ; /* Color de fondo */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */

    display: flex; /* Utiliza flexbox para el diseño */
    flex-direction: column; /* Dirección de los elementos en columna */
    min-height: 100vh; /* Altura mínima para ocupar toda la ventana */
}

/* Estilos para el encabezado */
header { 
    background-color: #0E748C ; /* Color de fondo del encabezado */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espaciado interno */
}

/* Estilos para el contenedor principal */
.contenedor{ 
    flex: 1; /* Permite que el contenedor crezca para llenar el espacio disponible */
    display: flex; /* Utiliza flexbox para el diseño */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si es necesario */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espaciado interno */

}

/* Estilos para las secciones de contenido y formulario */
.contenido {
    background-color: #ffffff; /* Color de fondo blanco */
    padding: 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    flex: 1 1 300px ; /* Flexibilidad para crecer y encoger */
}

.formulario { 
    background-color: white; /* Color de fondo blanco */
    padding: 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    flex: 1 1 300px ; /* Flexibilidad para crecer y encoger */
}

.formulario h2{
    margin-top: 0; /* Elimina el margen superior */
}

.formulario form{
    display: flex; /* Utiliza flexbox para el diseño del formulario */
    flex-direction: column; /* Dirección de los elementos en columna */
}

.formulario label{
    margin-top: 10px; /* Espacio superior */
    font-weight: bold; /* Texto en negrita */
}

.formulario input{
    padding: 8px; /* Espaciado interno */
    margin-top: 5px; /* Espacio superior */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 20px; /* Bordes redondeados */
}

.formulario button{
    margin-top: 15px; /* Espacio superior */
    padding: 10px; /* Espaciado interno */
    background-color: #1976d2;  /* Color de fondo azul */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.formulario button:hover{
    background-color: #1565c0; /* Color de fondo azul más oscuro al pasar el cursor */
}

/* Estilos para el pie de página */
footer{
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Color del texto blanco */
    text-align: center; /* Centra el texto */
    padding: 10px; /* Espaciado interno */
}
    