
* {
  box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}


body {
  font-family: Arial, sans-serif; /* Fuente legible */
  background-color: #f2f2f2; /* Color de fondo*/
  margin: 0; /* Elimina margen por defecto */
  display: flex; /* Usamos flexbox para layout */
  flex-direction: column; /* Dirección de los elementos en columna */
  min-height: 100vh; /* Altura mínima de la pantalla */
}

header {
  background-color: #1976d2; /* Color de fondo del header */
  color: white; /* Color del texto */
  text-align: center; /* Centrar texto */
  padding: 20px; /* Espaciado interno */
}

main {
  padding: 20px; /* Espaciado interno */
  max-width: 800px; /* Ancho máximo */
  margin: auto; /* Centrar horizontalmente */
}

.card {
  background-color: white; /* Fondo blanco para las tarjetas */
  padding: 20px;  /* Espaciado interno */
  margin-bottom: 20px; /* Espacio inferior entre tarjetas */
  border-radius: 6px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
}

h2 {
  margin-top: 0; /* Elimina margen superior */
}

#mensaje,
#saludo {
  font-weight: bold; /* Texto en negrita */
  margin-top: 10px; /* Espacio superior */
}


label {
  display: block; /* Mostrar como bloque */
  margin-top: 10px; /* Espacio superior */
}

input {
  width: 100%; /* Ancho completo */
  padding: 8px; /* Espaciado interno */
  margin-top: 5px; /* Espacio superior */
}

button {
  margin-top: 10px; /* Espacio superior */
  padding: 10px 15px; /* Espaciado interno */
  border: none; /* Sin borde */
  background-color: #1976d2; /* Color de fondo */
  color: white; /* Color del texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  border-radius: 4px; /* Bordes redondeados */
}

button:hover {
  background-color: #125aa3; /* Color de fondo al pasar el cursor */
}


footer {
  background-color: #333; /* Color de fondo del footer */
  color: white;   /* Color del texto */
  text-align: center; /* Centrar texto */
  padding: 10px; /* Espaciado interno */
  margin-top: auto; /* Empuja el footer al final de la página */
}